{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-essential",
    "@vue/typescript/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "comma-dangle": ["error", "only-multiline"],
    "prettier/prettier": "error"
  }
}
